<!DOCTYPE html>
<head>
  <title>WebRTC and peerConnection</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<header>
  <button id="req-new">new</button>
  <span id="group"></span>
  <input type="text" placeholder="group id">
  <button id="req-join">join</button>
</header>

<div class="wrapper">
  <video id="local-video"></video>
  <textarea id="remote-text" disabled></textarea>
  <textarea id="local-text"></textarea>
  <button id="send">send</button>
</div>

<div class="wrapper">
  <video id="remote-video"></video>
</div>

<pre id="editor">function foo(items) {
    var i;
    for (i = 0; i &lt; items.length; i++) {
        alert("Ace Rocks " + items[i]);
    }
}</pre>

<script src="ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
      var editor = ace.edit("editor");
    </script>


<div id="remote-videos"></div>

<script src="socket.io/socket.io.js"></script>

<script src="js/debug.js"></script>
<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
